@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins&display=swap');

:root {
    --gray-text: rgb(163, 162, 162);
    --light-black: rgb(36, 35, 35)
}

* {
    font-family: 'Poppins', sans-serif;
}

.shadow-box-form {
    height: 95%;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #e2e2e9, 0px 0px 30px #e2e2e9;
    margin-top: 30px;
    overflow: hidden;
}

.user-box {
    /* background-color: yellow; */
    height: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.user-box>.img-form {
    position: absolute;
    box-sizing: border-box;
    left: 3rem;
    top: 45px;
}

.img-form>img {
    height: 150px;
    border: 4px solid rgb(233, 142, 6);
    border-radius: 4.5rem;

}

.user-box>.name-form {
    width: 60%;
    position: absolute;
    left: 15rem;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.name-form>span {
    font-size: 3rem;
    color: rgb(233, 142, 6);

}

/* Form navbar */
.form-navbar>ul {
    display: flex;
}

.form-navbar>.unlist {
    width: 100%;
    height: 70px;
}

.unlist li a {
    color: black;
    font-size: 25px;
}

.border-line {
    border-left: 3px solid black;
    height: 58px;
}

/* Form - box */
.info-exp {
    overflow-y: auto;
    /* background-color: yellow; */
    height: 57.5%;
}

/* Headings */
.headings {
    margin: 10px 0px 0px 5px;
    display: flex;
    justify-content: center;

}

.headings>h2 {
    font-weight: 1500;
    font-size: 26px;
    border-bottom: 2px solid black;
}

.subheading {
    margin-top: 10px;
    margin-right: 10px;
}

.subheading>h5 {
    font-weight: lighter;
    color: var(--light-black);
    font-size: 20px;
}

/* Information */
.form-child-info {
    /* background-color: blue; */
    display: flex;
    padding: 0px 5px 0px 5px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.personal-details {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.span-1 {
    position: relative;
    top: 0.4rem;
    margin-right: 8px;
}

.span-2 {
    font-weight: light;
    color: var(--gray-text);
}

.edu {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
}
.ul {
    display: block;
    background-color: wheat;
    text-align: center;
}
.li{
    display: block;
}